<h2>By Capital</h2>
<hr>

<div class="row">
    <div class="col">        
        <h3>Search:</h3>
        <!-- searhcbox -->
        <shared-search-box 
            searchPlaceholder="Search by country capital"
            [initValue]="initValue"
            (onSearchValue)="searchByCapital($event)"
        ></shared-search-box>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h3>List</h3>
        <!-- results -->        
        <countries-table
            [countries]="countries"
        ></countries-table>
    </div>
</div>
